<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>short Links</title>
</head>
<body>
     <div>
        <a href="/logout">
            <i></i> Logout
        </a>
    </div>
    <form method="post" action="/shorten">
        <label for="url">URL:</label>
        <input type="text" name="url" placeholder="Enter Your URL">

        <button type="submit">submit</button>
    </form>
</body>
</html>